
*.pyc
.idea/vcs.xml
.idea/NeatTrading.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
/.env
watchtower.log
/lambda/discordMessage/bin/
/lambda/discordMessage/certifi/
/lambda/discordMessage/charset_normalizer/
/lambda/discordMessage/idna/
/lambda/discordMessage/requests/
/lambda/discordMessage/urllib3/
.DS_Store
